.git
.github
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile
compose.yml
data/config.json
data/extension-script.js
data/sessions
data/cache
.vscode
.idea
.DS_Store
*.local
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
